@page "/"

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<link href="css/style.css" rel="stylesheet">

<div class="battlefield">
    <div class="welcome-text">
        <p>Welcome to our Battle Ship Game!</p>
    </div>

    <div class="start-page-buttons">
        <input type="button" class="start_button" @onclick="CreateGame" value="Create game">
        <input type="button" class="start_button" @onclick="JoinGame" value="Join game">
    </div>
</div>

@code 
{
    private void CreateGame()
    {
        NavigationManager.NavigateTo("/create");
    }

    private void JoinGame()
    {
        NavigationManager.NavigateTo("/join");
    }
}